<h4 data-automation-id="task-details-header">Simple page to show the taskId: {{ taskId }}</h4>

<div fxLayout="column" fxFill fxLayoutGap="2px">
    <div fxLayout="row" fxFill>
        <div fxLayout="column" fxFlex="80%">
            <adf-cloud-task-form
                    [taskId]="taskId"
                    (cancelClick)="goBack()"
                    (taskClaimed)="onClaimTask()"
                    (taskCompleted)="onTaskCompleted()"
                    (taskUnclaimed)="onUnclaimTask()"
                    (formSaved)="onFormSaved()">
            </adf-cloud-task-form>
        </div>
        <adf-cloud-task-header fxFlex
                               [taskId]="taskId">
        </adf-cloud-task-header>
    </div>
</div>
