<form>
    <mat-form-field class="adf-cloud-group">
        <mat-label *ngIf="!isReadonly()"
                   id="adf-group-cloud-title-id">{{ (title || 'ADF_CLOUD_GROUPS.SEARCH-GROUP') | translate }}</mat-label>
        <mat-chip-list #groupChipList [disabled]="isReadonly() || isValidationLoading()" data-automation-id="adf-cloud-group-chip-list">
            <mat-chip
                    *ngFor="let group of selectedGroups"
                    [removable]="!(group.readonly)"
                    [attr.data-automation-id]="'adf-cloud-group-chip-' + group.name"
                    (removed)="onRemove(group)"
                    matTooltip="{{ (group.readonly ? 'ADF_CLOUD_GROUPS.MANDATORY' : '') | translate }}">
                {{group.name}}
                <mat-icon
                        *ngIf="!(group.readonly || readOnly)"
                        matChipRemove [attr.data-automation-id]="'adf-cloud-group-chip-remove-icon-' + group.name">
                    cancel
                </mat-icon>
            </mat-chip>
            <input *ngIf="!isReadonly()" matInput
                   [formControl]="searchGroupsControl"
                   [matAutocomplete]="auto"
                   [matChipInputFor]="groupChipList"
                   (focus)="setFocus(true)"
                   (blur)="setFocus(false)"
                   class="adf-group-input"
                   data-automation-id="adf-cloud-group-search-input" #groupInput>
        </mat-chip-list>

        <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                class="adf-cloud-group-list"
                (optionSelected)="onSelect($event.option.value)"
                [displayWith]="getDisplayName"
                data-automation-id="adf-cloud-group-autocomplete">
            <ng-container *ngIf="(searchGroups$ | async)?.length else noResults">
                <mat-option *ngFor="let group of searchGroups$ | async; let i = index" [value]="group"
                            [attr.data-automation-id]="'adf-cloud-group-chip-' + group.name">
                    <div class="adf-cloud-group-row" id="adf-group-{{i}}" fxLayout="row" fxLayoutAlign="start center"
                         data-automation-id="adf-cloud-group-row"
                         fxLayoutGap="20px">
                        <button class="adf-group-short-name" mat-fab>{{group | groupNameInitial }}</button>
                        <span>{{group.name}}</span>
                    </div>
                </mat-option>
            </ng-container>
            <ng-template #noResults>
                <mat-option *ngIf="searchGroupsControl.hasError('searchTypingError') && !searchLoading" disabled
                            class="adf-cloud-group-option-not-active"
                            data-automation-id="adf-cloud-group-no-results">
                    <span> {{ 'ADF_CLOUD_GROUPS.ERROR.NOT_FOUND' | translate : { groupName: searchedValue } }}</span>
                </mat-option>
            </ng-template>
        </mat-autocomplete>
    </mat-form-field>
    <mat-progress-bar
            *ngIf="validationLoading"
            mode="indeterminate">
    </mat-progress-bar>

    <mat-error *ngIf="hasPreselectError() &&  !isValidationLoading()">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_GROUPS.ERROR.NOT_FOUND' | translate : { groupName : validateGroupsMessage } }}</mat-error>
    <mat-error *ngIf="searchGroupsControl.hasError('pattern')">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_PEOPLE_GROUPS.ERROR.INVALID_PATTERN' | translate: { pattern: getValidationPattern() } }}</mat-error>
    <mat-error *ngIf="searchGroupsControl.hasError('maxlength')">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_PEOPLE_GROUPS.ERROR.INVALID_MAX_LENGTH' | translate: { requiredLength: getValidationMaxLength() } }}
    </mat-error>
    <mat-error *ngIf="searchGroupsControl.hasError('minlength')">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_PEOPLE_GROUPS.ERROR.INVALID_MIN_LENGTH' | translate: { requiredLength: getValidationMinLength() } }}</mat-error>
    <mat-error *ngIf="searchGroupsControl.hasError('required') || groupChipsCtrl.hasError('required')">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_PEOPLE_GROUPS.ERROR.REQUIRED' | translate }} </mat-error>
    <mat-error *ngIf="searchGroupsControl.hasError('searchTypingError') && !this.isFocused" data-automation-id="invalid-groups-typing-error">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_GROUPS.ERROR.NOT_FOUND' | translate : { groupName : searchedValue } }}</mat-error>
</form>
