@mixin adf-cloud-start-task-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $header-border: 1px solid mat-color($foreground, divider);

  .adf-cloud-start-task-heading {
    border-bottom: $header-border;
    margin-bottom: 10px;

    .mat-card-title {
      font-weight: bold;
      font-size: 18px;
    }
  }

  .adf-cloud-priority-container {
    padding-top: 1.1em;
  }

  .adf-cloud-date-error-container {
    position: absolute;
    height: 20px;
    margin-top: 12px;
    width: 100%;

    & > div {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
    }

    .adf-error-text {
      padding-right: 8px;
      height: 16px;
      font-size: 12px;
      line-height: 1.33;
      color: mat-color($warn);
      width: auto;
    }

    .adf-error-icon {
      font-size: 17px;
      color: mat-color($warn);
    }
  }

  .adf-cloud-start-task-footer {
    padding: 4px;
    font-size: 18px;
    border-top: 1px solid #eee;
  }

  adf-cloud-start-task {
    .adf {

      &-cloud-start-task-footer {
        .mat-button {
          text-transform: uppercase !important;
        }
      }
    }
  }
}

#endDate {
  padding-left: 50px;
}

#priority {
  padding-left: 50px;
}
