@mixin adf-cloud-people-theme($theme) {
  $warn: map-get($theme, warn);
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .adf {

    &-people-cloud {
      width: 100%;

      &-option-not-active {
        background: inherit !important;
      }
    }

    &-people-cloud-list {
      margin: 5px 0;
      padding: 10px 0;
    }

    &-people-cloud-row {
      display: flex;
      align-items: center;
    }

    &-people-cloud-pic {
      background: mat-color($primary);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      color: mat-color($foreground, text);
      font-weight: bolder;
      font-size: 18px;
      text-transform: uppercase;
    }

    &-start-task-cloud-error {
      margin-top: -10px;
    }

    &-start-task-cloud-error {
      position: absolute;
      height: 20px;

      &-message {
        padding-right: 8px;
        height: 16px;
        font-size: 12px;
        line-height: 1.33;
        color: mat-color($warn);
        width: auto;
      }

      &-icon {
        font-size: 17px;
        color: mat-color($warn);
      }
    }

  }
}
