<form>
    <mat-form-field [floatLabel]="'auto'" class="adf-people-cloud">
        <mat-label *ngIf="!isReadonly()" id="adf-people-cloud-title-id">{{ title | translate }}</mat-label>
        <mat-chip-list #userMultipleChipList [disabled]="isReadonly() || isValidationLoading()" data-automation-id="adf-cloud-people-chip-list">
            <mat-chip
                    *ngFor="let user of selectedUsers"
                    [removable]="!(user.readonly)"
                    [attr.data-automation-id]="'adf-people-cloud-chip-' + user.username"
                    (removed)="onRemove(user)"
                    matTooltip="{{ (user.readonly ? 'ADF_CLOUD_GROUPS.MANDATORY' : '') | translate }}">
                {{user | fullName}}
                <mat-icon
                        matChipRemove
                        *ngIf="!(user.readonly || readOnly)"
                        [attr.data-automation-id]="'adf-people-cloud-chip-remove-icon-' + user.username">
                    cancel
                </mat-icon>
            </mat-chip>
            <input *ngIf="!isReadonly()" matInput
                   [formControl]="searchUserCtrl"
                   [matAutocomplete]="auto"
                   [matChipInputFor]="userMultipleChipList"
                   (focus)="setFocus(true)"
                   (blur)="setFocus(false)"
                   class="adf-cloud-input"
                   data-automation-id="adf-people-cloud-search-input" #userInput>
        </mat-chip-list>

        <mat-autocomplete autoActiveFirstOption class="adf-people-cloud-list"
                          #auto="matAutocomplete"
                          (optionSelected)="onSelect($event.option.value)"
                          [displayWith]="getDisplayName">
            <ng-container *ngIf="(searchUsers$ | async)?.length else noResults" >
                <mat-option *ngFor="let user of searchUsers$ | async; let i = index" [value]="user">
                    <div class="adf-people-cloud-row" id="adf-people-cloud-user-{{i}}"
                         data-automation-id="adf-people-cloud-row">
                        <div [outerHTML]="user | usernameInitials:'adf-people-widget-pic'"></div>
                        <span class="adf-people-label-name"> {{user | fullName}}</span>
                    </div>
                </mat-option>
            </ng-container>
            <ng-template #noResults>
                <mat-option *ngIf="searchUserCtrl.hasError('searchTypingError') && !searchLoading" disabled
                            class="adf-people-cloud-option-not-active"
                            data-automation-id="adf-people-cloud-no-results">
                    <span> {{ 'ADF_CLOUD_USERS.ERROR.NOT_FOUND' | translate : { userName: searchedValue } }}</span>
                </mat-option>
            </ng-template>
        </mat-autocomplete>
    </mat-form-field>
    <mat-progress-bar
            *ngIf="validationLoading"
            mode="indeterminate">
    </mat-progress-bar>

    <mat-error *ngIf="hasPreselectError() && !isValidationLoading()">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_USERS.ERROR.NOT_FOUND' | translate : { userName : validateUsersMessage } }}</mat-error>
    <mat-error *ngIf="searchUserCtrl.hasError('pattern')">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_PEOPLE_GROUPS.ERROR.INVALID_PATTERN' | translate: { pattern: getValidationPattern() } }}</mat-error>
    <mat-error *ngIf="searchUserCtrl.hasError('maxlength')">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_PEOPLE_GROUPS.ERROR.INVALID_MAX_LENGTH' | translate: { requiredLength: getValidationMaxLength() } }}
    </mat-error>
    <mat-error *ngIf="searchUserCtrl.hasError('minlength')">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_PEOPLE_GROUPS.ERROR.INVALID_MIN_LENGTH' | translate: { requiredLength: getValidationMinLength() } }}</mat-error>
    <mat-error *ngIf="searchUserCtrl.hasError('required') || userChipsCtrl.hasError('required')">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_PEOPLE_GROUPS.ERROR.REQUIRED' | translate }} </mat-error>
    <mat-error *ngIf="searchUserCtrl.hasError('searchTypingError') && !this.isFocused" data-automation-id="invalid-users-typing-error">
        <mat-icon class="adf-start-task-cloud-error-icon">warning</mat-icon>
        {{ 'ADF_CLOUD_USERS.ERROR.NOT_FOUND' | translate : { userName : searchedValue } }}</mat-error>
</form>
