#start-task {
  color: white;
  background-color: #00283C;
}

.adf-filter-action-button__label {
  color: #00283C;
  &:hover {
    color: #00415B;
  }
}
.adf-icon {
  color: #00283C;
  &:hover {
    color: #00415B;
  }
}


