<mat-accordion>
  <mat-expansion-panel [expanded]="expandTaskFilter" (opened)="onTaskFilterOpen()" (closed)="onTaskFilterClose()" data-automation-id='Task Filters'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Task Filters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-raised-button routerLink="/community/start-task" id="start-task">
      Start new task
    </button>
    <adf-cloud-task-filters
            *ngIf="expandTaskFilter"
            [showIcons]="true"
            [filterParam]="currentTaskFilter$ | async"
            (filterClicked)="onTaskFilterSelected($event)">
    </adf-cloud-task-filters>
  </mat-expansion-panel>
</mat-accordion>
