<adf-sidenav-layout
  [sidenavMin]="70"
  [sidenavMax]="200"
  [stepOver]="780"
  [hideSidenav]="false"
  [expandedSidenav]="false"
>
  <adf-sidenav-layout-header>
    <ng-template let-toggleMenu="toggleMenu" let-isMenuMinimized="isMenuMinimized">
      <adf-layout-header id="adf-header" [title]="'Task List'" color="#00283C" logo="../favicon-96x96.png" [expandedSidenav]="!isMenuMinimized()" (clicked)=toggleMenu($event) >
      </adf-layout-header>
    </ng-template>
  </adf-sidenav-layout-header>

    <adf-sidenav-layout-navigation>
        <ng-template let-isMenuMinimized="isMenuMinimized">
            <mat-nav-list class="adf-sidenav-linklist">
                <a mat-list-item class="adf-sidenav-link" routerLink="/login">
                    <mat-icon matListIcon class="sidenav-menu-icon" id="login-icon">vpn_key</mat-icon>
                    <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Login</div>
                </a>
                <a mat-list-item class="adf-sidenav-link" routerLink="/community">
                    <mat-icon matListIcon class="sidenav-menu-icon" id="cloud-icon">cloud</mat-icon>
                    <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">PS Cloud</div>
                </a>
                <a mat-list-item adf-logout class="adf-sidenav-link">
                    <mat-icon matListIcon class="sidenav-menu-icon" id="logout-icon">exit_to_app</mat-icon>
                    <div class="sidenav-menu-label" *ngIf="!isMenuMinimized()">Logout</div>
                </a>
            </mat-nav-list>
        </ng-template>
    </adf-sidenav-layout-navigation>

    <adf-sidenav-layout-content>
        <ng-template>
            <router-outlet></router-outlet>
        </ng-template>
    </adf-sidenav-layout-content>
</adf-sidenav-layout>
